branches:
  - main

plugins:
  # calculate release
  - '@semantic-release/commit-analyzer'

  # generate release notes
  - '@semantic-release/release-notes-generator'

  # build app + inject new version tag
  - - '@semantic-release/exec'
    - prepareCmd: 'VITE_APP_VERSION=${nextRelease.version} bun run build'

  # create GitHub release
  - - '@semantic-release/github'
    - assets:
        - dist
